@model CourseViewModel
@{
    ViewData["Title"] = "Courses";
}

<section class="courses" id="courses">
    <div class="container">

        <div>
            <h1>Courses</h1>
        </div>
        <div class="course-content">
            @foreach (var courses in Model.Courses)
            {
                <div class="course">
                    @if (courses.IsBestSeller)
                    {
                        <div class="best-seller">Best Seller</div>
                    }
                    <img class="course-img" src="@courses.ImgUrl" />
                    <h5 class="course-title">@courses.Title</h5>
                    <div class="content">
                        <div class="course-author">by @courses.Author</div>
                        @if (courses.Discount > 0)
                        {
                            <div class="course-prices">
                                <div class="course-discount">$@courses.Discount</div>
                                <div class="course-price-reduced">$@courses.Price</div>
                            </div>
                        }
                        else
                        {
                            <div class="course-prices">
                                <div class="course-price">$@courses.Price</div>
                            </div>
                        }

                        <div class="course-info">
                            <div class="course-hour"><i class="fa-regular fa-clock"></i>@courses.Hours hours</div>
                            <div class="course-likes">
                                <span>@courses.LikesInProcent%</span>
                                <span>(@courses.LikesInNumber<span>K</span>)</span>
                            </div>
                        </div>


                    </div>


                </div>
            }

        </div>
    </div>
</section>
