@model AspnetCore_MVC.ViewModels.HomeIndexViewModel

<section id="@Model.Feature.Id" class="feature">
    <div class="container">
        <div class="title">
            <h1>@Model.Feature.Title</h1>
            <p>@Model.Feature.Text</p>
        </div>
        <div class="feature-box">
            @foreach (var item in Model.Feature.FeatureContent)
            {
                <div id="@item.BoxId" class="features">
                    <img src="@item.ImageUrl" alt="@item.AltText">
                    <h5>@item.Title</h5>
                    <p>@item.Text</p>
                </div>
            }
        </div>
    </div>
</section>

