
@inject FeatureService _featureService
@{
    var result = await _featureService.GetAllFeaturesAsync();
    List<FeatureEntity> content = (List<FeatureEntity>)result.ContentResult!;
    var feature = content.First();
}

@if (content != null)
{
    <section id="@feature.Id" class="feature">
        <div class="container">
            <div class="title">
                <h1>@feature.Title</h1>
                <p>@feature.Text</p>
            </div>
            <div class="feature-box">
                @foreach (var item in feature.FeatureContent)
                {
                    <div id="@item.BoxId" class="features">
                        <img src="@item.ImageUrl" alt="@item.AltText">
                        <h5>@item.Title</h5>
                        <p>@item.Text</p>
                    </div>
                }
            </div>
        </div>
    </section>
}
