
@model AccountDetailsViewModel

@{
    ViewData["Title"] = $"Account Details for {Model.ProfileInfoForm.FirstName} {Model.ProfileInfoForm.LastName}";
}



<section id="account-details" class="account">
    <div class="container">
        <aside>
            <div class="profile-info">
                <img src="@Model.ProfileInfoForm.ProfileImg" alt='@($"{Model.ProfileInfoForm.FirstName} {Model.ProfileInfoForm.LastName}")' />
                <h3>@Model.ProfileInfoForm.FirstName @Model.ProfileInfoForm.LastName</h3>
                <p>@Model.ProfileInfoForm.Email</p>
            </div>
            <nav>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Details">Account Details</a>

                <a class="btn-transparent" asp-controller="Account" asp-action="Security">Security</a>
                <a class="btn-transparent" asp-controller="Course" asp-action="SavedCourses">Saved Courses</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="SignOut">Sign Out</a>
            </nav>
        </aside>
        

        <div class="details">
            <section class="basic-info">
                <form method="post" asp-controller="Account" asp-action="SaveBasicInfo" novalidate>
                    <h2>Account Info</h2>
                    <h5>Basic Info</h5>
                    <div class="content">
                        <div id="form-firstname" class="input-group">
                            <label asp-for="BasicInfoForm.FirstName"></label>
                            <span asp-validation-for="BasicInfoForm.FirstName"></span>
                            <input asp-for="BasicInfoForm.FirstName" />
                        </div>
                        <div id="form-lastname" class="input-group">
                            <label asp-for="BasicInfoForm.LastName"></label>
                            <span asp-validation-for="BasicInfoForm.LastName"></span>
                            <input asp-for="BasicInfoForm.LastName" />
                        </div>
                        <div id="form-email" class="input-group">
                            <label asp-for="BasicInfoForm.Email"></label>
                            <span asp-validation-for="BasicInfoForm.Email"></span>
                            <input asp-for="BasicInfoForm.Email" />
                        </div>
                        <div id="form-phone" class="input-group">
                            <label asp-for="BasicInfoForm.PhoneNumber"></label>
                            <span asp-validation-for="BasicInfoForm.PhoneNumber"></span>
                            <input asp-for="BasicInfoForm.PhoneNumber" />
                        </div>
                        <div id="form-bio" class="input-group">
                            <label asp-for="BasicInfoForm.Biography">Bio <span>(optional)</span></label>
                            <textarea asp-for="BasicInfoForm.Biography"></textarea>
                        </div>

                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </section>
            <hr />
            <section class="adress-info">
                <form method="post" asp-controller="Account" asp-action="SaveAddressInfo" novalidate >
                    <h5>Address</h5>
                    <div class="content">
                        <div id="form-addressline-1" class="input-group">
                            <label asp-for="AddressInfoForm.Addressline_1"></label>
                            <span asp-validation-for="AddressInfoForm.Addressline_1"></span>
                            <input asp-for="AddressInfoForm.Addressline_1" />
                        </div>
                        <div id="form-addressline-2" class="input-group">
                            <label asp-for="AddressInfoForm.Addressline_2"> Address line 2 <span>(optional)</span></label>
                            <span asp-validation-for="AddressInfoForm.Addressline_2"></span>
                            <input asp-for="AddressInfoForm.Addressline_2" />
                        </div>
                        <div id="form-postalcode" class="input-group">
                            <label asp-for="AddressInfoForm.Postalcode"></label>
                            <span asp-validation-for="AddressInfoForm.Postalcode"></span>
                            <input asp-for="AddressInfoForm.Postalcode" />
                        </div>
                        <div id="form-city" class="input-group">
                            <label asp-for="AddressInfoForm.City"></label>
                            <span asp-validation-for="AddressInfoForm.City"></span>
                            <input asp-for="AddressInfoForm.City" />
                        </div>
                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>


